<div class="home-page">
  <div class="image-container">
    <h1 class= "heading">Midwest Wildflowers</h1>
  </div>
  <div class= "articles-container">
    <h3>September Articles</h3>
    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    </ul>
    <button class="button"><%= link_to "New Article", new_article_path %></button>
  </div>
</div>
