body
  background-color: #5C6E58
  color:#4F4A41
  font-family: 'Georgia', 'Times New Roman', Times, serif
  margin-top: 0

  .heading
    padding-top: 30px
    text-align: center
    color: #254E58
    color: #112D32
    font-size: 42px
    padding-top: 25px

  .image-container
    background-image: url("https://images.pexels.com/photos/464336/pexels-photo-464336.jpeg?auto=compress&cs=tinysrgb&w=1600")
    background-repeat: no-repeat
    background-size: cover
    background-position: center, center
    height: 550px
    width: 100%
    float: center
    margin-top: -35px

  .image-container-2
    background-image: url("https://hgtvhome.sndimg.com/content/dam/images/grdn/fullset/2015/6/8/0/CI_p194l-galiumodoratum-el-caut.jpg.rend.hgtvcom.966.644.suffix/1463678191575.jpeg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center, center
    height: 300px
    width: 90%
    float: center
    margin-top: 100px
    margin-left: 100px

  .articles-container
    color: #F3E0DC
    text-align: left
    background-color: #254E58
    padding: 25px
  a
    color: #F3E0DC

  .comment-container
    text-align: left
    background-color: #254E58
    margin-top: 100px
    padding: 10px

  .article-page
    color: #F3E0DC
    margin: 50px 300px

  button
    padding: 15px
    background-color:#4F4A41
    margin-top: 15px

    a, a:visited, a:hover
      color:#112D32
      color: white
      border-bottom: 0
      text-decoration: none

.center
  text-align: center !important

.align-right
  text-align: right

.align-left
  text-align: left

.float-right
  float: right

.float-left
  float: left

.clear
  clear: both

.no-bottom-margin
  margin-bottom: 0 !important

.no-top-margin
  margin-top: 0 !important

.relative
  position: relative

.absolute
  position: absolute

.nudge-down-10
  margin-top: 10px !important

.nudge-down-25
  margin-top: 25px !important

.nudge-down-50
  margin-top: 50px !important

.nudge-down-75
  margin-top: 75px !important

.nudge-down-100
  margin-top: 100px !important

.nudge-down-200
  margin-top: 200px !important

.no-bottom-margin
  margin-bottom: 0 !important

.no-top-margin
  margin-top: 0 !important

.no-bottom-border
  border-bottom: 0 !important
